<!doctype html>
<html lang="zh">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>哥布林弹球在线图鉴</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">

  </head>
  <body>
    <div class="container">
        <h1>哥布林弹球在线图鉴</h1><div class="badge bg-primary">游戏版本:{{version}}</div>
        {{#online_version}}
          <a href="online_check.html" class="link-light badge bg-success">在线本地化文档版本:{{online_version}}</a>
        {{/online_version}}
        <div class="badge bg-secondary">正在装修</div>
        <hr>
        <a class="btn btn-link" href="orb.html">弹珠列表</a>
        <a class="btn btn-link" href="relic.html">遗物列表</a>

        <hr />

        <p>本图鉴内容由程序根据游戏代码自动生成，程序作者frto027(<a href="https://gitee.com/frto027">gitee</a>，<a href="https://github.com/frto027">github</a>，<a href="https://space.bilibili.com/11948678">bilibili</a>)。</p>
    </div>
    <script src="js/bootstrap.bundle.min.js"></script>
  </body>
</html>