<!doctype html>
<html lang="zh">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>哥布林弹球在线图鉴</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">

  </head>
  <body>
    <div class="container">
        <h1>哥布林弹球在线图鉴/在线文档版本检查</h1>

        <p>报告时间：{{report_date}}</p>

        <p>图鉴使用的在线本地化文档版本:{{online_cache_version}}</p>
        <p>游戏的最新在线本地化文档版本:{{online_version}}</p>

        <p>
          {{#need_update}}
            游戏的本地化文档更新了！在线文档已自动更新。若存在游戏版本相关更新，请等待作者重建此工程。
          {{/need_update}}
          {{^need_update}}
            {{#version_consist}}
              文档已是最新版本，无需更新。
            {{/version_consist}}
            {{^version_consist}}
              文档不是最新版本，但中文没有变化，因此无需更新图鉴。
            {{/version_consist}}
          {{/need_update}}
        </p>
        <hr />

        <p>本图鉴内容由程序根据游戏代码自动生成，程序作者frto027(<a href="https://gitee.com/frto027">gitee</a>，<a href="https://github.com/frto027">github</a>，<a href="https://space.bilibili.com/11948678">bilibili</a>)。</p>
    </div>
    <script src="js/bootstrap.bundle.min.js"></script>
  </body>
</html>