<!doctype html>
<html lang="zh">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>弹珠列表</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="pg_sprite.css">
    <link rel="stylesheet" type="text/css" href="pg_orb_sprite.css">

  </head>
  <body>
    <div class="container">
        <h1>弹珠列表</h1><h5><a href="relic.html">遗物列表</a></h5><div class="badge fs-6 bg-primary">游戏版本:{{version}}</div>
        <hr>
        
        <div class="row row-cols-auto">
        {{#orbs}}
            <div class="col">
            <div class="card" style="width: 18rem;margin:8px;">
                <div style="text-align:center">
                <div style="width:fit-content;margin:10px auto">
                    <div class="pg_pic_{{sprite}}"></div>
                </div></div>
                <div class="card-body">
                <div style="text-align:center">
                  <h5 class="card-title">{{name}}({{level}})</h5>
                  <p class="card-text"><div class='pg_sprite pg_sprite_PEG' style="transform:scale(2);margin:3px 10px;"></div>{{dmg}}&nbsp;&nbsp;<div class='pg_sprite pg_sprite_CRIT_PEG' style="transform:scale(2);margin:3px 10px;"></div>{{cdmg}}</p>
                </div>
                <hr/>
                    <ul class="list-group list-group-flush">
                    {{#descs}}
                        <li class="list-group-item"> {{{desc}}} </li>
                    {{/descs}}
                    </ul>
                    {{#has_keywords}}
                      <div class="card-footer">
                        {{#keywords}}
                          {{{keyword_desc}}}
                          {{^last?}}
                            <hr/>
                          {{/last?}}
                        {{/keywords}}
                      </div>
                    {{/has_keywords}}
                </div>
            </div>
            </div>
        {{/orbs}}
        </div>
    </div>
    <script src="js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>