<!doctype html>
<html lang="zh">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>弹珠列表</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="fontawesome/css/all.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="pg_sprite.css">
    <link rel="stylesheet" type="text/css" href="pg_orb_sprite.css">

  </head>
  <body>
    <div class="container">
        <h1>弹珠列表</h1><h5><a href="relic.html">遗物列表</a></h5><div class="badge bg-primary">游戏版本:{{version}}</div>
        <hr>
        
        {{#typed_orbs}}
        <div class="row row-cols-auto">
        {{#orbs}}
            <div class="col col-sm-12 col-md-4">
            <div class="card" style="margin:8px;">
                <div style="text-align:center">
                <div style="width:76px; height:84px;margin:25px auto 0px auto;position:relative;">
                    <div style="background:url(SmallBrownBox.png);width:38px;height:42px;margin:19px 21px;position:absolute;transform:scale(2);image-rendering:pixelated;"></div>
                    <div class="pg_pic_{{sprite}}" style="position:absolute;left:13px;top:13px"></div>
                </div></div>
                <div class="card-body">
                <div style="text-align:center">
                  <h5 class="card-title">{{name}}({{level}})
                      {{#pool}}
                        {{#pool.AvailableOrbs}}
                                      <span style="font-size:0.5rem;" class="badge rounded-pill text-bg-secondary">拾取池</span>
                        {{/pool.AvailableOrbs}}
                        {{#pool.Brambles}}
                                      <span style="font-size:0.5rem;" class="badge rounded-pill text-bg-secondary">荆棘</span>
                        {{/pool.Brambles}}
                        {{#pool.MirrorbPool}}
                                      <span style="font-size:0.5rem;" class="badge rounded-pill text-bg-secondary">镜像池</span>
                        {{/pool.MirrorbPool}}
                        {{#pool.OrborosPool}}
                                      <span style="font-size:0.5rem;" class="badge rounded-pill text-bg-secondary">衔尾池</span>
                        {{/pool.OrborosPool}}
                        {{#pool.PotentialLightningScenarioOrbs}}
                                      <span style="font-size:0.5rem;" class="badge rounded-pill text-bg-secondary">闪电场景</span>
                        {{/pool.PotentialLightningScenarioOrbs}}
                        {{#pool.Stones}}
                                      <span style="font-size:0.5rem;" class="badge rounded-pill text-bg-secondary">石头</span>
                         {{/pool.Stones}}
                      {{/pool}}
                      
                      {{#has_tutorial}}
                        <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#tutorial_{{name}}_{{level}}" aria-expanded="false" aria-controls="tutorial_{{name}}_{{level}}">
                          <span style="color:Dodgerblue" class="fa-solid fa-question"></span>
                        </button>
                      {{/has_tutorial}}
                  </h5>
                  {{#has_tutorial}}
                    <div class="collapse" id="tutorial_{{name}}_{{level}}">
                      <div class="alert alert-secondary" style="text-align:left">
                        {{#tutorial}}
                          {{{desc}}}
                          {{^last}}
                          <hr/>
                          {{/last}}
                        {{/tutorial}}
                      </div>
                    </div>
                    {{/has_tutorial}}
                  <p class="card-text"><div class='pg_sprite pg_sprite_PEG' style="transform:scale(2);margin:3px 10px;"></div>{{dmg}}&nbsp;&nbsp;<div class='pg_sprite pg_sprite_CRIT_PEG' style="transform:scale(2);margin:3px 10px;"></div>{{cdmg}}</p>
                </div>
                <hr/>
                    <ul class="list-group list-group-flush">
                    {{#descs}}
                        <li class="list-group-item"> {{{desc}}} </li>
                    {{/descs}}
                    </ul>
                    {{#has_keywords}}
                        <div class="alert alert-primary">
                        {{#keywords}}
                            {{{keyword_desc}}}
                            {{^last?}}
                              <hr/>
                            {{/last?}}
                        {{/keywords}}
                        </div>
                    {{/has_keywords}}
                   
                </div>
            </div>
            </div>
        {{/orbs}}
        </div>
        {{/typed_orbs}}
    </div>
    <script src="js/bootstrap.bundle.min.js"></script>
  </body>
</html>