<!doctype html>
<html lang="zh">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="pg_sprite.css">
    <link rel="stylesheet" type="text/css" href="pg_orb_sprite.css">

  </head>
  <body>
    <div class="container">
        <h1>遗物列表</h1>
        <hr>
        <div class="row row-cols-auto">
        {{#relics}}
            <div class="col">
              <div class="card" style="width: 18rem;margin:8px;">
                <div style="text-align:center">
                  <div style="width:fit-content;margin:10px auto">
                      <div class="pg_pic_{{sprite}}"></div>
                  </div>
                </div>
                <div class="card-body">
                  <div style="text-align:center">
                    <h5 class="card-title">{{locName}}
                      {{#pool}}
                        {{#pool.CommonRelics}}            <span style="font-size:0.5rem;" class="badge rounded-pill text-bg-secondary">普通池</span>               {{/pool.CommonRelics}}
                        {{#pool.BossRelics}}              <span style="font-size:0.5rem;" class="badge rounded-pill text-bg-success">Boss池</span>                 {{/pool.BossRelics}}
                        {{#pool.DebugRelics}}             <span style="font-size:0.5rem;" class="badge rounded-pill text-bg-light">Debug池</span>                {{/pool.DebugRelics}}
                        {{#pool.RareRelics}}              <span style="font-size:0.5rem;" class="badge rounded-pill text-bg-warning">稀有池</span>                 {{/pool.RareRelics}}
                        {{#pool.RareRelicsScenarioOnly}}  <span style="font-size:0.5rem;" class="badge rounded-pill text-bg-dark">剧情</span>     {{/pool.RareRelicsScenarioOnly}}
                      {{/pool}}
                    </h5>
                  </div>
                  <div>
                    <div style="margin-top:3px"> {{{locDesc}}} </div>
                  </div>
                </div>
              </div>
            </div>
        {{/relics}}
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>