.orb_pic_all_orb_nothing_active_21300000{
    background-image: url("pg_assets/all_orb_nothing_active.png");
}
.orb_pic_blind_orb_21300008{
    background-image: url("pg_assets/blind_orb.png");
}
.orb_pic_bomb_forge_21300000{
    background-image: url("pg_assets/bomb_forge.png");
}
.orb_pic_boulder_21300000{
    background-image: url("pg_assets/boulder.png");
}
.orb_pic_brambleball_animation_16x16_spikes_21300006{
    background-image: url("pg_assets/brambleball_animation_16x16_spikes.png");
}
.orb_pic_Buff_orb_21300000{
    background-image: url("pg_assets/Buff_orb.png");
}
.orb_pic_Concentrication_21300000{
    background-image: url("pg_assets/Concentrication.png");
}
.orb_pic_crit_orb_21300006{
    background-image: url("pg_assets/crit_orb.png");
}
.orb_pic_daggorb_21300002{
    background-image: url("pg_assets/daggorb.png");
}
.orb_pic_Debuff_orb_21300000{
    background-image: url("pg_assets/Debuff_orb.png");
}
.orb_pic_heal_21300006{
    background-image: url("pg_assets/heal.png");
}
.orb_pic_echorb_21300004{
    background-image: url("pg_assets/echorb.png");
}
.orb_pic_egg_21300002{
    background-image: url("pg_assets/egg.png");
}
.orb_pic_extra_orbinary_21300000{
    background-image: url("pg_assets/extra_orbinary.png");
}
.orb_pic_FB500-1_21300000{
    background-image: url("pg_assets/FB500-1.png");
}
.orb_pic_ghost_orb_21300000{
    background-image: url("pg_assets/ghost_orb.png");
}
.orb_pic_iceball_animation_16x16_21300000{
    background-image: url("pg_assets/iceball_animation_16x16.png");
}
.orb_pic_thunderball_animation_16x16_21300004{
    background-image: url("pg_assets/thunderball_animation_16x16.png");
}
.orb_pic_matryorbska_21300000{
    background-image: url("pg_assets/matryorbska.png");
}
.orb_pic_memorb_21300000{
    background-image: url("pg_assets/memorb.png");
}
.orb_pic_mirrorb_21300000{
    background-image: url("pg_assets/mirrorb.png");
}
.orb_pic_morbidorb_21300000{
    background-image: url("pg_assets/morbidorb.png");
}
.orb_pic_necorbmancer_21300000{
    background-image: url("pg_assets/necorbmancer.png");
}
.orb_pic_ohmygorb_21300006{
    background-image: url("pg_assets/ohmygorb.png");
}
.orb_pic_orbelisk_21300018{
    background-image: url("pg_assets/orbelisk.png");
}
.orb_pic_orboros_21300000{
    background-image: url("pg_assets/orboros.png");
}
.orb_pic_orbsium_21300004{
    background-image: url("pg_assets/orbsium.png");
}
.orb_pic_material_23_21300000{
    background-image: url("pg_assets/material_23.png");
}
.orb_pic_refresh_orb_21300000{
    background-image: url("pg_assets/refresh_orb.png");
}
.orb_pic_bouncyball_21300000{
    background-image: url("pg_assets/bouncyball.png");
}
.orb_pic_shuffle_orb_21300002{
    background-image: url("pg_assets/shuffle_orb.png");
}
.orb_pic_sphear_21300004{
    background-image: url("pg_assets/sphear.png");
}
.orb_pic_bouncyball_slime_21300000{
    background-image: url("pg_assets/bouncyball_slime.png");
}
.orb_pic_rock_21300000{
    background-image: url("pg_assets/rock.png");
}
.orb_pic_sworb_21300016{
    background-image: url("pg_assets/sworb.png");
}
