.pg_style_lightning{color:#6A4F8C}
.pg_style_loseOrb{color:#bf1e2e}
.pg_style_upgradeOrb{color:#deb100}
.pg_style_heal{color:#55a000}
.pg_style_bramble{color:#179017}
.pg_style_damage{color:#bf1e2e}
.pg_style_slime{color:#53930c}
.pg_style_objectOfInterest{color:#fffa97}
.pg_style_fire{color:#feae34}
.pg_style_stone{color:#9baea4}
.pg_style_peglin{color:#87A340}
.pg_style_crystal{color:#af38ff}
.pg_style_egg{color:#e2d7b5}
.pg_style_blind{color:#59307d}
.pg_style_confuse{color:#c8640e}
.pg_style_water{color:#51d5dd}
.pg_style_durable{color:#e87b22}
.pg_style_persist{color:#007e3c}
.pg_style_dmg_bonus{color:#006A00}
.pg_style_dmg_negative{color:#840000}
.pg_style_orberos{color:#ba523d}
.pg_style_multiball{color:#b81a5e}
.pg_style_enemyBonusDmg{color:#d15454}
.pg_style_enemyNegDmg{color:#4978c1}
.pg_style_echo{color:#4c7ced}
.pg_style_strength{color:#953033}
.pg_style_refresh{color:#3c9b10}
.pg_style_finesse{color:#ffd26b}
.pg_style_balance{color:#1d00d1}
.pg_style_dexterity{color:#2692a6}
.pg_style_shield{color:#0086ff}
.pg_style_hit{color:#180057}
.pg_style_activate{color:#180057}
.pg_style_pop{color:#180057}
.pg_style_destroy{color:#B30900}
.pg_style_pierce{color:#91d0e4}
.pg_style_heal2{color:#006A00}
.pg_style_overflow{color:#6A0000}

.pg_sprite{
    image-rendering:pixelated;
    background-image: url('atlas.png');
    display:inline-block;
}
.pg_sprite_REFRESH_PEG{
    transform: scale(2.0);
    margin: 4.0px;
    background-position: -9px -0px;
    width: 8px;
    height: 8px;
}
.pg_sprite_CRIT_PEG{
    transform: scale(2.0);
    margin: 4.0px;
    background-position: -0px -0px;
    width: 8px;
    height: 8px;
}
.pg_sprite_PEG{
    transform: scale(2.0);
    margin: 4.0px;
    background-position: -18px -0px;
    width: 8px;
    height: 8px;
}
.pg_sprite_PEG_RESPAWNED{
    transform: scale(2.0);
    margin: 4.0px;
    background-position: -27px -0px;
    width: 8px;
    height: 8px;
}
.pg_sprite_PEG_CRIT_ACTIVE{
    transform: scale(2.0);
    margin: 4.0px;
    background-position: -36px -0px;
    width: 8px;
    height: 8px;
}
.pg_sprite_LONG_PEG{
    transform: scale(1.6);
    margin: 3.6000000000000005px;
    background-position: -45px -0px;
    width: 16px;
    height: 12px;
}
.pg_sprite_BOMB_ACTIVE_1{
    transform: scale(3.2);
    margin: 14.3px;
    background-position: -72px -0px;
    width: 8px;
    height: 13px;
}
.pg_sprite_BOMB_ACTIVE_2{
    transform: scale(3.2);
    margin: 13.200000000000001px;
    background-position: -83px -1px;
    width: 8px;
    height: 12px;
}
.pg_sprite_BOMB{
    transform: scale(3.0);
    margin: 12.0px;
    background-position: -92px -0px;
    width: 8px;
    height: 12px;
}
.pg_sprite_PEG_CLEARED{
    transform: scale(1.0);
    margin: 0.0px;
    background-position: -0px -9px;
    width: 4px;
    height: 4px;
}
.pg_sprite_BULLET{
    transform: scale(0.68);
    margin: -0.6399999999999999px;
    background-position: -5px -9px;
    width: 4px;
    height: 4px;
}
.pg_sprite_RIGGED_BOMB{
    transform: scale(3.0);
    margin: 10.0px;
    background-position: -91px -13px;
    width: 9px;
    height: 10px;
}
.pg_sprite_DULL_PEG{
    transform: scale(2.0);
    margin: 4.0px;
    background-position: -62px -9px;
    width: 8px;
    height: 8px;
}
.pg_sprite_UNPOP_PEG{
    transform: scale(2.0);
    margin: 4.0px;
    background-position: -62px -0px;
    width: 8px;
    height: 8px;
}
